
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
}

a {
    font-weight: bold;
    color: #00008b;
}

.section {
    font-size: 20px;
    padding: 10px 0px;
}

/*.inu {
    border: 3px solid #ffd700;
}*/

h1, h2, h3, h4, h5, h6, strong, b {
    color: #2c2c2c;
}

h1 {
    font-size: 35px;
    font-weight: 500;
    padding: 10px 0px;
}

ul,ol{
    list-style: none;
    padding-inline-start: 0;
}

li {
    line-height: 40px;
}

h2 {
    font-weight: 500;
    font-size: 25px;
    padding: 10px 0px;
}

.container {
    max-width: 800px;
    padding: 30px 300px;
    margin: 0 auto; 
}

@media screen and (max-width: 1000px) {
    /* pc */
    .container {
        padding: 30px 250px;
        margin: 0 auto; 
    }
}

@media screen and (max-width: 850px) {
    /* tablet */
    .container {
        padding: 30px 180px;
        margin: 0 auto; 
    }
}

@media screen and (max-width: 650px) {
    /* tablet */
    .container {
        padding: 30px 90px;
        margin: 0 auto; 
    }
    .section {
        font-size: 18px;
        padding: 5px 0px;
    }
}
@media screen and (max-width: 500px) {
    h1 {
	    font-size: 30px;
    }
    h2 {
	    font-size: 25px;
    }
    .container {
        padding: 30px 10px;
        margin: 0 auto; 
    }
}
