
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

a {
    color: #0366d6;
}

.container {
    padding: 30px 300px;
    margin: 0 auto; 
}

h2 {
    padding: 25px 0px;
}

ul {
    font-size: 20px;
    padding-left: 20px;
}

li {
    line-height: 30px;
}

.link {
    font-size: 20px;
}

.footer {
    font-size: 25px;
    padding: 30px 10px;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    /* pc */
    .container {
        padding: 30px 250px;
        margin: 0 auto; 
    }
}

@media screen and (max-width: 850px) {
    /* tablet */
    .container {
        padding: 30px 200px;
        margin: 0 auto; 
    }
}

@media screen and (max-width: 650px) {
    /* tablet */
    .container {
        padding: 30px 100px;
        margin: 0 auto; 
    }
}
@media screen and (max-width: 500px) {
    /* tablet */
    .container {
        padding: 30px 20px;
        margin: 0 auto; 
    }
}